body {
  position: relative;
  background-color: #279CC7;
  width: 960px;
  height: 1000px;
}

/* Fixed Screen banner */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* Navbar element */
nav {
  height: 65px;
  background-color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 65px;
  font-size: 25px;
  padding-left: 25px;
}

nav a {
  padding-right: 50px;
}

/* Banner picture */
#BannerImageContainer {
  background-color: black;
  color: white;
  font-size: 100px;
}

/* Midscreen navigation bar */
#BannerLowerNavBar {
  height: 65px;
  background-color: gray;
  line-height: 65px;
  padding-left: 25px;
  font-size: 30px;
}

#BannerLowerNavBar a {  
  padding-right: 25px;
}

main {
  margin-top: 500px;
}

#test1 {
  float: right;
}

/*
h1 span { 
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
  text-decoration: underline;
}

#store-Location-Hourly-Totals {
  float: left;
}


.text-block {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
}



#headerBanner {
  background-color: black;
}



#salmonHeader {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  background-color: black;
}

#site-title-name {
  position: absolute;
  top: 280px;
  left: -130px;
  width: 300px;
}

.centered {
  margin: auto;
  display: block;
}

table * {
  border-collapse: collapse;
  border: 1px solid black;
  background-color: darkgrey;
  font-size: larger;
  padding: 10px;
  width:100%;
}
*/

/*
  Liberated from here:
    https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
  And more from here:
    https://css-tricks.com/text-blocks-over-image/
*/