* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #279CC7;
  width: 960px;
  height: 1000px;
  margin: auto;
}

/* Fixed Screen banner */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* Navbar element */
nav {
  height: 55px;
  background-color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 55px;
  font-size: 25px;
  padding-left: 25px;
}

nav a {
  padding-right: 50px;
}

/* Banner picture */
#BannerLogo {
  font-style: bold;
  font-size: 30px;
  color: darksalmon;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

#BannerLogoContainer {
  background-color: black;
  background-size: cover;
  width: 100%;
}

#BannerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#BannerImageContainer {
  background-color: black;
  display: block;
}

/* Midscreen navigation bar */
#BannerLowerNavBar {
  height: 55px;
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 55px;
  padding-left: 25px;
  font-size: 25px;
}

#BannerLowerNavBar a {  
  padding-right: 25px;
}

main {
  margin-top: 390px;
  width: 100%;
}

.Spacer {
  background-color: black;
  height:5px;
  width: 100%;
}

.ImageContainers {
  float: right;
  width: 600px;
}

section {
  margin-left: 30px;
  overflow: hidden;
}

.SectionHeaders {
  font-size: 40px;
  font-style: bold;
  text-decoration: underline;
}

#Section1 h1 + p {
  float: left;
  width: 300px;
  padding-top: 20px;
}

#Section2 {
  margin-top: 15px;
}

#Section2 h1 + p {
  float: left;
  width: 200px;
  padding-top: 20px;
}

#Section2 ul {
  
  float: left;
  width: 200px;
  padding-top: 20px;
}

#Section3 {
  margin-top: 15px;
}

#Section3 h1 + p {
  float: left;
  width: 200px;
  padding-top: 20px;
}

#FamilyPicture {
float: none;
}

#BottomBannerContainer {
  margin: auto;
}

#BottomBannerImage {
  display: block;
  margin: auto;

  width: 50%;
}

#BottomLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
